@media (min-width: 320px) {
    .wrap__title {
       font-size: 15px;
       font-width: 400px;
    }
}

@media (min-width: 641px) {
    .wrap__title {
       font-size: 32px;
       font-width: 600px;
    }
}

@media all (min-width: 961px) {
    .wrap__title {
       font-size: 52px;
       font-width: 800px;
    }
}
